@font-face{
    font-family: startk;
    src: url("../fonts/prstartk.ttf");
}

@font-face{
    font-family: startksmall;
    src: url("../fonts/PrStart.ttf");
}

body{
    background: #1c1d1f;
    font-family: startk;
    color: white;
}

#main_body{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    padding-top: 20px;
}

#main_body > h3{
    margin-left: auto;
    margin-right: auto;
    width:431px;
}

.social{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
}

a{
    font-family: startksmall;
    font-size:12px;
    text-decoration: none;
    color: white;
}

.btn{
    padding: 10 12;
    border: 2px solid white;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%
}

.btn:hover{
    background-color: white;
    color: black;
}

.social > ul{
    list-style-type: none;
    padding: 0;
}

ul > li{
    margin-bottom: 30px;
}

.loader{
    margin-top: 100px;
}